/* CSS Document */
body {
    
}
.clientLogo {
    height: 60px;
    width: auto;
}
.avatar {
    height: 75px;
    width: 75px;
    border: 1px solid #000;
    padding: 3px;
    background-color: #fff;
}
.avatar img {
    max-width: 100%;
    height: auto;
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -30px;
}
.navbar {
    position: fixed;
    width: 100%;
    z-index: 500;
}
.contentWrapper {
    position: relative;
    width: 100%;
    top: 0;
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 80px;
}
.commentWrapper {
    position: relative;
    top: 50px;
}
.commentBox {
    position: absolute;
    width: 100%;
    z-index: 1000;
}
.pinContainer {
    position: absolute;
    top: 0;
    left: 0;
}
.imgContainer {
    position: relative;
    top: 0;
    left: 0;
}
.imgDraft {
    max-width: 100%;
}
.projectIcon {
    height: 100px;
}
.current {
    height: 200px;
}
.pin {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    display: block;
    background-image: url("../images/pin.png");
    z-index: 100;
    padding-top: 20px;
    padding-left: 25px;
    color: #fff;
    font-weight: bold;
}
.newPin {
    z-index: 500;
}
.label-left {
    float: left;
}
.formWrapper, .detailsWrapper, .approveWrapper {
    position: absolute;
    width: 75%;
    left: 12.5%;
}
.commentForm {
    position: fixed;
    width: 75%;
    left: 12.5%;
    z-index: 200;
}
.formWrapper input[type=text], .formWrapper input[type=password], .formWrapper textarea {
    border: 1px solid #c0c0c0;
    border-radius: 6px;
    width: 100%;
}
input[type=submit] {
    margin-top: 15px;
}

input[type=submit].upload {
    display: none;
}
input[type=radio] {
    width: auto;
    margin-right: 5px;
}
input, textarea {
    width: 100%;
}
select {
    border: 1px solid #c0c0c0;
    border-radius: 6px;
    margin-top: 20px;
}
.wrapper, .featherlight .featherlight-content {
    background: rgba(255,255,255,0.9);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 15px #888;
    border: 1px solid #c0c0c0;
}
.featherlight title.featherlight-inner {
    display: none;
}
.featherlight .featherlight-close-icon {
    background-color: #ff335e;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
}
.commentWrapper.featherlight-inner {
    top: 0;
}
.popup,  .detailsPopup, .approvePopup {
    display: block;
}
.shade {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,7,0.8);
    z-index: 5000;
}
.loginWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding-top: 20px;
}
.currentDesign {
    padding: 10px;
    border-radius: 6px;
}
button, .button, input[type=submit] {
    width: auto;
    text-align: center;
    background-color: #0057b1;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    color: #fff;
    transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -webkit-transition: 0.5s ease all;
}
.loginWrapper input[type=submit] {
    width: 100%;
}
.file {
    text-align: center;
    background-color: #525252;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    color: #fff;
    transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -webkit-transition: 0.5s ease all;
}

button:hover, input[type=submit]:hover {
    background-color: #33abff;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}
.projectList, .designList, .assetList {
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
}
.projectList li, .designList li, .assetList li {
    list-style: none;
    margin: 2px 0px;
}
.projectList li a, .designList li a, .assetList li a {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 5px 10px;
    text-decoration: none;
}
.projectList li:nth-child(odd), .designList li:nth-child(odd), .assetList li:nth-child(odd) {
    background-color: #1f2226;
}
.projectList li:nth-child(even), .designList li:nth-child(even), .assetList li:nth-child(even) {
    background-color: #1f2226;
}
.projectList li:hover {
    background-color: #33abff;
}
.projectList li a.edit.button {
    position: relative;
    width: 100px;
}
.projectList li a.edit.button:hover {
    position: relative;
    color: #fff;
    background-color: #007dff;
}
.nav-project {
    border-bottom: 1px solid #454e56;
}
.projectTab {
    position: relative;
    top: 1px;
}
.projectTab .nav-link {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top: 1px solid #363d43;
    border-right: 1px solid #363d43;
    border-bottom: 1px solid #454e56;
    background-color: #22262a;
}
.projectTab .nav-link.active {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top: 1px solid #758492;
    border-right: 1px solid #454e56;
    border-bottom: 1px solid #272b30;
    background-color: transparent;
}
.assetsWrapper {
    overflow: hidden;
    transition: 0.5s ease all;
    -o-transition: 0.5s ease all;
    -moz-transition: 0.5s ease all;
    -webkit-transition: 0.5s ease all;
}
.inline {
    display: inline-block;
}
.currentImage {
    padding-right: 10px;
    padding-top: 10px;
}
.comment {
    position: fixed;
    top: 25%;
    left: 10%;
    width: 80%;
    height: 50%;
    display: none;
    z-index: 800;
    background: rgba(31,34,38,0.9);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 15px #888;
    border: 1px solid #c0c0c0;
}
.showMessage {
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    display: block;
    padding: 15px;
    border-radius: 6px;
    z-index: 600;
}
.projectHeading {
    position: relative;
}
.close, .closeComment, button.close, .closePin {
    background-color: #ff335e;
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-shadow: none;
    color: #fff;
    padding: 10px 20px;
    line-height: 1.5;
    font-size: 15px;
    font-weight: inherit;
    font-family: sans-serif;
    opacity: 1;
}
.approve {
    background-color: #00b645;
}
.approve:hover {
    background-color: #33ff80;
}
.warning {
    background-color: #ff6d33;
}
.warning:hover {
    background-color: #33ff80;
}
.edit {
    background-color: #8533ff;
}
.edit:hover {
    background-color: #33ff80;
}
.closePin {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.commentText {
    width: 100%;
    margin-bottom: 15px;
}
.mce-panel {
    background: #23272b !important;
    border: 1px solid #101113 !important;
}
.mce-label {
    text-shadow: none !important;
}
.mce-btn {
    background-color: #23272b !important;
}
.mce-btn-group:not(:first-child) {
    border-left: 1px solid #101113 !important;
}
.mce-ico {
    color: #aaaaaa !important;
}
.mce-branding {
    display: none !important;
}
.discussion {
    position: relative;
    background: #000;
    border-radius: 6px;
    padding: 0 6px;
    margin-bottom: 4px;
}
.agree img, .disagree img {
    margin-top: -4px;
    padding-right: 4px;
}
.discussionBar {
    border-top: 1px solid #272b30;
}
.discussion .date {
    float: right;
}
.avatar {
    vertical-align: top;
}
.avatarWrapper {
    padding-right: 10px;
}
.discussionInfo {
    display: flex;
}
.discussionText {
    min-height: 49px;
    padding: 0 3px;
}
.card {
    width: 100%;
}
.flex {
    display: flex;
}
.flex1 {
    flex-grow: 100;
}
.flex1tr {
    flex-grow: 1;
    text-align: right;
}
.flex2hide {
    flex-grow: 1;
    text-align: right;
}
.featherlight-content {
    width: 90%;
    height: 90%;
}
.Notification {
    margin-left: 15px;
}
.notificationBlock {
    margin-left: 10px;
    padding-top: 6px;
}
.toggleNotifications {
    width: auto;
    margin: 5px;
}
.discussion.Comment {
    border: 1px solid rgb(133, 51, 255);
}
@media (max-width: 480px) {
    .formWrapper.login, {
        width: 80%;
        left: 10%;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.25rem;
    }
    h3 {
        font-size: 1rem;
    }
    .contentWrapper {
        padding-top: 100px;
    }
    .flex2hide {
        display: none;
    }
}
@media (max-width: 512px) {
    .formWrapper.login, {
        width: 80%;
        left: 10%;
    }
}
@media (max-width: 768px) {
    .formWrapper.login, {
        width: 80%;
        left: 10%;
    }
}
@media (max-width: 1280px) {
    .formWrapper.login, {
        width: 80%;
        left: 10%;
    }
}